html{
    font-family: 'Raleway', sans-serif;
}

body{
    background: linear-gradient(to right, #e44d26, #f16529);
}


.FoundClients{

}

.FoundClients-container{

}

.oundClients-wrapper{
    
}

.FoundClients-headings{

}

.FoundClients-info{

}


.ContactCard{
    background: #fff;
    margin: 30px 0;

    &:after{
        content : "";
        display: table;
        clear: both;
    }
}

.ContactCard-wrapper{

}

.ContactCard-headings{
    span{
        color: darkblue;
        font-size: 24px;
    }

    h3{
        @media(min-width: 768px){
            display: inline-block;
            float: left; 
            margin: 2.5px 0;
            padding: 10px 30px;
            width: calc( 50% - 60px );
            min-height: 30px;
        }
    }
}





// Add Clients


.AddSection {

}

.back-section{
    display: inline-block;
    background: #fff;
    border: 2px solid #fff; 
    color:#e44d26;
    padding: 7.5px 12.5px;
    font-size: 16px;
    transition: all 0.25s linear;
    text-decoration: none;


    &:hover{
        background: #e44d26;
        color: #fff;
        text-decoration: none;
    }

    @media(min-width: 768px){
        font-size: 18px;
    }
    @media(min-width: 992px){
        font-size: 20px;
    }
}

.AddContact{
    max-width: 800px;
    margin: 0 auto;



    h1{
        color: #fff;
        margin: 100px 0 30px;
        text-align: center;

        font-size: 30px;

        @media(min-width: 768px){
            font-size: 36px;
        }


        @media(min-width: 992px){
            font-size: 42px;
        }
    }
    form{
        margin: 0 auto;
        text-align: center;

        .input-container{
            margin: 15px;

            @media(min-width: 768px){
                width: calc(50% - 60px); 
                display: inline-block; 
            }

            label{
                display: block;
                text-align: left;
                color: #fff;
                font-size: 16px;

                @media(min-width: 768px){
                    font-size: 18px;

                }

                @media(min-width: 992px){
                    font-size: 20px;
                }
            }

            input{
                display: block;
                margin: 0 auto;
                width: 100%;
                height: 40px;

                font-size: 16px;

                @media(min-width: 768px){
                    font-size: 18px;

                }

                @media(min-width: 992px){
                    font-size: 20px;
                }
            }
        }

        .button-container{
            text-align: center;
            margin: 30px 0;
            button{
                cursor: pointer;
                display: inline-block;
                background: #e44d26;
                border: 2px solid #fff; 
                color: #fff;
                padding: 7.5px 12.5px;
                font-size: 16px;
                transition: all 0.25s linear;

                &:hover{
                    background: #fff;
                    color: #e44d26;
                }

                @media(min-width: 768px){
                    font-size: 18px;
                }
                @media(min-width: 992px){
                    font-size: 20px;
                }
            }
        }

    }
}

.search-form{
    margin-bottom: 30px;
}

.FoundClients-info{
    h2{
        color: #fff;
        text-align: center;
    }
}

// buttons
.ContactAddEditButton-wrapper{
    text-align: center;
    padding: 30px 0;
}
.add-client{
    display: inline-block;
    background: #fff;
    border: 2px solid #fff; 
    color:#e44d26;
    padding: 7.5px 12.5px;
    font-size: 16px;
    transition: all 0.25s linear;
    text-decoration: none;


    &:hover{
        background: #e44d26;
        color: #fff;
        text-decoration: none;
    }

    @media(min-width: 768px){
        font-size: 18px;
    }
    @media(min-width: 992px){
        font-size: 20px;
    }
}


// search compoenent

.search-label{
    display: block;
    margin: 45px auto 5px;
    text-align: center;
    color: #fff;

    @media(min-width: 768px){
        margin: 60px auto 10px;
    }
}

.search{
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
    outline: none;
    height: 40px;
    padding: 10px 15px;
    font-size: 16px;
    width: calc(100% - 60px);;

    @media(min-width: 768px){
        height: 50px;
        width: 500px;
        font-size: 18px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
    }

    @media(min-width: 992px){
        width: 600px;
        font-size: 20px;
    }
}